<html>
    <head>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    </head>
    <body>
       
       
        <section style="background : linear-gradient(to left, #320075, #724fa2); height: 180; padding:10px 0;">
            <div align = center>
              <img style = "height: 100px;margin-top: 40" src = "https://healthspeed.s3.amazonaws.com/logo-hs.png">
            </div>
        </section>
       
        <div style="padding:15px 15px 15px 15px;font-family: 'Roboto', sans-serif;font-size:16px;color:#000 !important;">
            The provider {{:PRO_First_Name}} {{:PRO_Last_Name}} has posted updates to their profile.<br> Please review below or <a style="color:#320075" href = "https://app-dev.healthspeed.com/provider/basic">view them through the admin portal here.</a>
            </div>
       

        {{for records}}
        {{if field_name }}

        <div style=" padding:0px 15px 15px 15px;font-family: 'Roboto', sans-serif;font-size:16px; color:#000 !important;">
            <div style=" width: 100%;  overflow-wrap: break-word;">{{:field_name}} changed from: {{if old_value}} {{:old_value}} {{else}} None {{/if}}</div>
            <div style="  width: 100%;  overflow-wrap: break-word;">{{:field_name}} changed to: {{:new_value}}</div>


        </div>
        {{/if}}
            {{/for}}
            {{if other}}
                Please <a href = "https://app-dev.healthspeed.com/provider/basic">log in</a> to see attachments.
            {{/if}}
<!--        
        <table>
            {{for records}}
            {{if field_name }}
            <tr>
                <td>
                    <p>{{:field_name}} was {{:old_value}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{:field_name}} is {{:new_value}}</p>
                </td>
            </tr>
            {{/if}}
            {{/for}}
            {{if other}}
                Please <a href = "https://app-dev.healthspeed.com/provider/basic">log in</a> to see attachments.
            {{/if}}
        </table> -->



        <section style = "background : linear-gradient(to right, #320075, #724fa2); height: 100; padding:20px 0;">
            <div align = center>
              <p style = "color: white; padding-top: 40;font-family: 'Roboto', sans-serif;font-size:16px;">Copyright 2020 HealthSpeed</p>
            </div>
        </section>
  
    </body>
</html>